{% extends "base.html" %}
{% from "partials/_macros.html" import render_field %}
{% block title %}Importar extrato{% endblock %}
{% block content %}
<h1 class="h4 mb-3">Importar extrato do Itaú (CSV)</h1>
<div class="row">
  <div class="col-md-6">
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ render_field(form.file) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
<p class="mt-3"><a href="{{ url_for('financeiro.importacoes') }}">Ver histórico de importações</a></p>
{% endblock %}
